* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col: #F3ECDE;
}

body {
  background-color: #06172E;
  color: var(--col);
}

nav {
  line-height: 1.4;
  background-color: #022C50;
  color: var(--col);
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  padding: 0;
}

li a{
  padding: .25em;
  color: var(--col);
  text-decoration: none;
}

